@import 'vars.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: $color-back;
  color: $color-text;
  font-size: 1em;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background: $color-link;
  text-shadow: none;
}

::selection {
  background: $color-link;
  text-shadow: none;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important
  }

  a,
  a:visited {
    text-decoration: underline
  }

  a[href]::after {
    content: " (" attr(href) ")"
  }

  abbr[title]::after {
    content: " (" attr(title) ")"
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: ""
  }

  pre {
    white-space: pre-wrap !important
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid
  }

  thead {
    display: table-header-group
  }

  tr,
  img {
    page-break-inside: avoid
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3
  }

  h2,
  h3 {
    page-break-after: avoid
  }
}

.header {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 250px;
  height: 100vh;
  position: relative;
  &__inner {
    background: #fff;
    border: 8px solid #f4d4a5;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 5%;
    min-height: 480px;
    min-width: 480px;
    text-align: center;
  }
  &__name {
    color: $color-danger;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 2px;
    padding-top: 16px;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #bf8206;
  }
  .phone {
    color: $color-text;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    padding-top: 24px;
  }
  &__title {
    color: $color-success;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 32px;
    text-transform: uppercase;
    width: 60%;
  }
  &__sale {
    position: absolute;
    left: 120px;
    top: 65%;
  }

}
.main {
  text-align: center;
  &__container {
    max-width: 1030px;
    padding: 0 16px;
    margin: 0 auto;
  }
  &__title {
    color: $color-danger;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 auto;
    padding-top: 32px;
    width: 55%;
  }
  &__text {
    color: $color-text;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding-top: 32px;
    p {
      padding: 16px 0;
    }
  }
  &__img {
    margin: 24px 0;
  }
  .project {
    &__title {
      color: $color-danger;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 1.5em;
      padding: 32px 0;
      text-transform: uppercase;
    }
  }
}